
<section class='masthead'> 

<ul class="language-nav">
  <li>
 <a href=""><b>CSS</b></a> </li>
  <li>
 <a  href="">HTML</a> </li>
  <li>
 <a  href="">JavaScript</a> </li>
  <li>
  <a  href="">Ruby</a> 
  </li>
</ul>

<img class='logo' src="<%= image_path('AA_Times_Logo.png') %>" alt="">

<ul class="masthead-links">
  <li>Tuesday, October 18, 2016</li>
  <li><i class="far fa-newspaper"></i><a href="" class="language-link">Today's Paper</a></li>
  <li><i class="fas fa-video"></i><button class="language-link">Video</button></li>
  <li>77°F</li>
  <li>AAO <strong>+100%</strong></li>
</ul>

</section>